@import "tailwindcss";

@theme {
  --color-primary: #76838f;
}

@layer base {
  .login-language option {
    @apply bg-gray-800 text-white;
  }
}


body {
  margin: 0;
  padding: 0;
  color: var(--color-primary);
  font-size: 16px;
  line-height: 1.5;
}

/* Responsive font sizes */
@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

ul,
li {
  list-style-type: none;
}
