@import "tailwindcss";

@theme {
  --color-primary: #76838f;
}

@layer base {
  .login-language option {
    @apply bg-gray-800 text-white;
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-primary);
}

ul,
li {
  list-style-type: none;
}
